<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!--右键项目在applaycationInfo按钮上可以看出版本号-->
  <?define ProductVersion="9.2.0.0"?>
  <!--点击tools-create GuiD-->
  <?define GUID_UPGRADE="E23C3319-F189-4F63-A683-5EDE8FC9CCCE" ?>
  <?define GUID_PC1="A5B56152-630C-4369-B271-B2E36CE203F1" ?>
  <?define GUID_PC2="1BF1E25D-2415-4DE7-9AB5-AC4C85E4BE00" ?>
  <?define GUID_AS="4C4BBD2A-FE99-47EB-88C5-CD00F6926433" ?>
  <?define GUID_DFS="A0C049E8-10C6-4895-9946-1D477E06CD4A" ?>
  <!--Name：安装项目的名称；Manufacturer：制造商的名称-->
  <Product Id="*" Name="!(loc.ApplicationName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="!(loc.ManufacturerName)" UpgradeCode="$(var.GUID_UPGRADE)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <!--把.cab集成到.msi中-->
    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />
    <!--<MediaTemplate />-->
    <Feature Id="ProductFeature" Title="!(loc.ApplicationName)" Level="1">
      <!--安装目录ComponentRef ID-->
      <ComponentRef Id="ProductComponent1" />
      <!--存放协议的目录ComponentRef ID-->
      <ComponentRef Id="ProductComponent2" />
      <!--开始菜单快捷方式目录ComponentRef ID-->
      <ComponentRef Id="ApplicationShortcut" />
      <!--桌面快捷方式目录ComponentRef ID-->
      <ComponentRef Id="DesktopFolderShortcut" />
    </Feature>
    <UI>
      <!--这里定义了安装UI的样式【此处定义可以让用户选择安装目录】-->
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    <!--这里定义了安装协议-->
    <WixVariable Id="WixUILicenseRtf" Value="licenses/EULA_CHS_Mini.rtf" />
    <!--这里定义默认安装目录-->
    <Property Id="WIXUI_INSTALLDIR" Value="InstallFolder" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing this product." />
  </Product>
  <Fragment>
    <!--安装目录树结构-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Swack" />
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="Swack">
          <Directory Id="InstallFolder" Name="WPF_Sample">
            <Directory Id="LicensesFolder" Name="Licenses" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <!--安装配置-->
  <Fragment>
    <!--安装目录结构-->
    <DirectoryRef Id="InstallFolder">
      <Component Id="ProductComponent1" Guid="$(var.GUID_PC1)">
        <!--定义安装目录权限-->
        <CreateFolder>
          <Permission User="Everyone" GenericAll="yes" ChangePermission="yes" />
        </CreateFolder>
        <!--此处设置.exe和.dll【程序及程序依赖库】-->
        <File Id="WPF_Sample" Source="$(var.WPF_Sample.ProjectDir)bin\Release\WPF_Sample.exe" Checksum="yes" KeyPath="yes" Assembly=".net" AssemblyApplication="WPF_Sample" />
      </Component>
    </DirectoryRef>
    <!--协议目录结构-->
    <DirectoryRef Id="LicensesFolder">
      <Component Id="ProductComponent2" Guid="$(var.GUID_PC2)">
        <File Id="EULA_CHS_Mini.rtf" Source="licenses/EULA_CHS_Mini.rtf" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <!--桌面快捷方式目录结构-->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopFolderShortcut" Guid="$(var.GUID_DFS)">
        <Shortcut Id="ApplicationDesktopShortcut" Name="!(loc.ApplicationName)" Target="[InstallFolder]!(loc.ApplicationName).exe" WorkingDirectory="InstallFolder" />
        <RegistryValue Root="HKCU" Key="Software\Swack\!(loc.ApplicationName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <!--开始菜单快捷方式目录结构-->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="$(var.GUID_AS)">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="!(loc.ApplicationName)" Description="Application install" Target="[InstallFolder]!(loc.ApplicationName).exe" WorkingDirectory="InstallFolder">
          <Icon Id="ico_install" SourceFile="Icons/logo_Launch.ico" />
        </Shortcut>
        <Shortcut Id="UninstallProduct" Name="Uninstall !(loc.ApplicationName)" Description="Application Uninstall " Target="[SystemFolder]msiexec.exe" WorkingDirectory="SystemFolder" Arguments="/x [ProductCode]">
          <Icon Id="ico_uninstall" SourceFile="Icons/logo_Uninstall.ico" />
        </Shortcut>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Swack\!(loc.ApplicationName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>